//- template for the form part in the registration page

-data = data || {}

if errors
  ul
    for error in errors
      li= error.msg

h2 Register to subscribe
form(action="." method="POST" class="form-registration")
  label(for="name") Name: 
  input(
    type="text"
    id="name"
    name="name"
    class="form-control"
    value=data.name
  )

  label(for="email") Email:
  input(
    type="email"
    id="email"
    name="email"
    class="form-control"
    value=data.email
  )

  input(
    type="submit"
    value="Register"
    class="btn"
  )
